<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
	<div class="container">
		<!-- Madhouse Logo -->
		<a href="/" class="navbar-brand m-0">
			<img src="/assets/images/MadHouseLogo.svg" width="250px" alt="madhouse logo">
		</a>
		<button class="navbar-toggler border-0 p-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="fas fa-bars fa-lg"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
				{% for item in site.data.navigation.pages %}
					<li class="nav-item mx-auto 
					{% if item.title == "Stores" %} 
						dropdown 
					{% endif %}
					{% for entry in item.subitems %} 
						{% if entry.url == page.url %}
							active
						{% endif %} 
					{% endfor %} 
					{% if item.url == page.url %}
						active
					{% endif %}">
						<a class="nav-link pl-4 pr-0
							{% if item.title == "Stores" %} 
								dropdown-toggle
							{% endif %}
							"
							{% if item.title != "Stores" %}
								href="{{ item.url }}"
							{% else %}
								href="#"
								id="navbarDropdown"
								role="button"
								data-toggle="dropdown"
								aria-haspopup="true"
								aria-expanded="false"
							{% endif %}
						>
							{{ item.title }}
						</a>
						{% if item.title == "Stores" %}
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								{% for entry in item.subitems %}
								<a class="dropdown-item" href="{{ entry.url }}">{{ entry.page }}</a>
								{% endfor %}
							</div>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container">
		<!-- Right aligns the collapsed navbar toggle -->
		<a class="navbar-brand" href="#"></a>
		<button class="navbar-toggler border-0 p-0" type="button" data-toggle="collapse" data-target="#product-navbar" aria-controls="product-navbar" aria-expanded="false" aria-label="Toggle navigation">
			<span class="fas fa-bars fa-lg"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-between" id="product-navbar">
			<ul class="navbar-nav mx-auto">
				{% for count in (1..10) %}
				<li class="nav-item mx-auto">
					<a class="nav-link px-auto" href="#">Category {{ count }}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</nav>
