<table class="table table-sm">
	<thead>
		<tr>
			<th scope="col"><span class="oi oi-clock icon" title="clock" aria-hidden="true"></span></th>
			<th scope="col"><h4>Opening Hours</h4></th>
			<th scope="col"></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<th scope="row">
				Monday
			</th>
			<td>
				{{ include.monday }}
			</td>
		</tr>
		<tr>
			<td></td>
			<th scope="row">
				Tuesday
			</th>
			<td>
				{{ include.tuesday }}
			</td>
		</tr>
		<tr>
			<td></td>
			<th scope="row">
				Wednesday
			</th>
			<td>
				{{ include.wednesday }}
			</td>
		</tr>
		<tr>
			<td></td>
			<th scope="row">
				Thursday
			</th>
			<td>
				{{ include.thursday }}
			</td>
		</tr>
		<tr>
			<td></td>
			<th scope="row">
				Friday
			</th>
			<td>
				{{ include.friday }}
			</td>
		</tr>
		<tr>
			<td></td>
			<th scope="row">
				Saturday
			</th>
			<td>
				{{ include.saturday }}
			</td>
		</tr>
		<tr>
			<td></td>
			<th scope="row">
				Sunday
			</th>
			<td>
				{{ include.sunday }}
			</td>
		</tr>
	</tbody>
</table>