<table class="table table-sm">
	<thead>
		<tr>
			<th scope="col" class="align-middle"><span class="far fa-clock fa-2x"></span></th>
			<th scope="col" colspan="2" class="align-middle"><h4>Opening Hours</h4></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<th scope="row">
				Monday
			</th>
			<td>
				{{ include.monday }}
			</td>
		</tr>
		<tr>
			<td></td>
			<th scope="row">
				Tuesday
			</th>
			<td>
				{{ include.tuesday }}
			</td>
		</tr>
		<tr>
			<td></td>
			<th scope="row">
				Wednesday
			</th>
			<td>
				{{ include.wednesday }}
			</td>
		</tr>
		<tr>
			<td></td>
			<th scope="row">
				Thursday
			</th>
			<td>
				{{ include.thursday }}
			</td>
		</tr>
		<tr>
			<td></td>
			<th scope="row">
				Friday
			</th>
			<td>
				{{ include.friday }}
			</td>
		</tr>
		<tr>
			<td></td>
			<th scope="row">
				Saturday
			</th>
			<td>
				{{ include.saturday }}
			</td>
		</tr>
		<tr>
			<td></td>
			<th scope="row">
				Sunday
			</th>
			<td>
				{{ include.sunday }}
			</td>
		</tr>
		<tr>
			<th scope="col" class="align-middle"><span class="fas fa-location-arrow fa-2x"></span></th>
			<th scope="col" class="align-middle" colspan="2">{{ include.address }}</th>
		</tr>
		<tr>
			<th scope="col" class="align-middle">
				<a href="tel:{{ include.phone-number | replace_first: "0", "+61"}}">
					<span class="fas fa-phone fa-2x"></span>
				</a>
			</th>
			<th scope="col" class="align-middle" colspan="2">
				<a href="tel:{{ include.phone-number | replace_first: "0", "+61"}}">{{ include.phone-number }}</a>
			</th>
		</tr>
		<tr>
			<th scope="col" class="align-middle">
				<a href="{{ include.facebook-link}}"><span class="fab fa-facebook-f fa-2x"></span></a>
				</th>
			<th scope="col" class="align-middle" colspan="2">
				<a href="{{ include.facebook-link}}">{{ include.store-name }}</a>
			</th>
		</tr>
	</tbody>
</table>