nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    list-style: none;
    font-weight: bold;
}
nav ul li {
    display: inline;
    margin-right: 25px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

p {
    text-align: justify;
}

nav {
    border-bottom: 1px solid #000000;
}

.nav-item {
    text-align: right;
}

span.icon {
    font-size: 25px;
}

.table {
    border-bottom: 0px !important;
}

.table th, .table td {
    border: 0px !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

.footer-container {
  width: auto;
  padding: 0 15px;
}

.footer-container .text-muted {
  margin: 20px 0;
}

.map {
    max-width: 100%;
    max-height: 100%;
}
