nav ul {
    list-style: none;
    font-weight: bold;
}

footer ul {
    list-style: none;
    padding: 0;
}
/*
footer ul li {
    display: inline;
}*/

p {
    text-align: justify;
}

a { 
    color: inherit; 
} 

a:hover {
    color: inherit;
    text-decoration: inherit;
}
/*
nav {
    border-bottom: 1px solid #000000;
}
*/

span.icon {
    font-size: 25px;
}

.table {
    border-bottom: 0px !important;
}

.table th, .table td {
    border: 0px !important;
}
/*
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
  z-index: 1020;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

.footer-container {
  width: auto;
  padding: 0 15px;
}

.footer-container .text-muted {
  margin: 20px 0;
}
*/

.map {
    max-width: 100%;
    max-height: 100%;
}

.dropdown-menu {
    border-radius: 0px;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown-menu {
    margin: -0.125rem 0 0;
}

/* Removes caret from dropdown button */
.dropdown-toggle:after {
    content: none 
}

/* News page styling */
.news-list {
    list-style-type: none;
    padding: 0;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
}
.footer {
/*
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  */
  background-color: #f5f5f5;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
}

.text-muted {
    color: #6c757d !important
}
