---
layout: default
---
<!-- Page Header -->
{% capture store-name %}
{{ page.header }}
{% endcapture %}

<!-- Store Hours -->
{% capture monday %}
{{ page.monday }}
{% endcapture %}
{% capture tuesday %}
{{ page.tuesday }}
{% endcapture %}
{% capture wednesday %}
{{ page.wednesday }}
{% endcapture %}
{% capture thursday %}
{{ page.thursday }}
{% endcapture %}
{% capture friday %}
{{ page.friday }}
{% endcapture %}
{% capture saturday %}
{{ page.saturday }}
{% endcapture %}
{% capture sunday %}
{{ page.sunday }}
{% endcapture %}

<!-- Google Maps Location Information -->
{% capture store %}
{{ page.store }}
{% endcapture %}
{% capture location %}
{{ page.location }}

<!-- Store Information -->
{% endcapture %}
{% capture address %}
{{ page.address }}
{% endcapture %}
{% capture phone-number %}
{{ page.phone-number }}
{% endcapture %}
{% capture facebook-link %}
{{ page.facebook-link }}
{% endcapture %}

<div class="row">
	<div class="col-12 col-md-12 col-lg-6 col-xl-6">
		{{ content }}
		{% include store-information.html 
			monday=monday 
			tuesday=tuesday 
			wednesday=wednesday 
			thursday=thursday 
			friday=friday 
			saturday=saturday 
			sunday=sunday 
			address=address 
			phone-number=phone-number 
			facebook-link=facebook-link
			store-name=store-name %}
	</div>
	<div class="col-12 col-md-12 col-lg-6 col-xl-6">
		{% include google-map.html store=store location=location %}
	</div>
</div>